body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/images/images.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}
